@use "../../Foundation/variable" as *;

.c-container {
    width: 100dvw;
    height: 100%;
    overflow-x: hidden;
    position: relative;

    @include breakpoint(pc) {
        position: relative;
    }
}