@use "../../Foundation/variable" as *;

.p-first-view {
    width: 100vw;

    .metaslider .slides img{ //メタスライダーの大きさを指定

        width: 100%;
        height: 500px;
        object-fit: cover;
    
        
    
        @include breakpoint(pc){
            height: 800px;
        }
    
    }
}

